.AnnouncementsContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
}

div.announcements {
  background-color: #222222;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 3vh;
  min-height: 50vh;
  text-align: center;
  border-radius: 10px;
  min-width: 96vw;

  color: red;
}
/*
      .announcements {
        width: 10rem;
        padding: 1rem;
      }

      li.announcements  {
        padding: 1rem;
        border: 2px white solid;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        width: 80%;
        
      }
*/
.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tag {
  line-height: 30px;
  margin-right: 1rem;
  padding: 0.2rem;
  margin: 2px;
  place-items: left;
  /*border: 2px white solid;*/
  border-radius: 2rem;
  background-color: #333333;
  font-weight:bold;
  height: 2rem;
  
  font-size: 1rem;
  color: red;
}
/*d*/
